@page
@model Mission9_twoodru8.Pages.PaymentCompletedModel
@{
}

<div class="text-center">
    <h2>Thank you for your order! It will get to you shortly!</h2>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Return Home</a>
</div>